# Projekt: Algorithmischer-Handel

Das Projekt Algorithmischer Handel basierend auf die Klassifikation automatisierte Handelsstrategien zu entwickeln.
Die Kauf- und Verkaufsentscheidung soll basierend auf den historischen und Echtzeit-Marktdaten funktionieren.
Die Klassifikation generiert die Vohersage, um dann zu schauen, ob die Aktie gekauft(long) oder verkauft(short) werden soll.

Das Projekt muss unter folgenden Schritte aufgeteilt werden:
1. Die Datenbeschaffung und aufbereitung
2. Datenanalyse
3. Vorbereitung der Trainingsdaten
4. Modellierung
5. Bewertimg der Genauigkeit und Zuverlässigkeit der entwickelten Methode
6. Backtesting mit Historiche Daten

# 1. Datenbeschaffung und aufbereitung

<h2>1.1 Datenbeschaffung</h2>

Es müssen einige Bibliotheken hinzugefügt werden. 
Als erstes muss yfinance hinzugefügt werden, diese ermöglich den zugriff auf Aktiendaten zuzugreifen.

In [1]:
!pip install yfinance pandas

Requirement already satisfied: yfinance in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (0.2.40)
Requirement already satisfied: pandas in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from yfinance) (2.0.0)
Requirement already satisfied: requests>=2.31 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from yfinance) (5.2.2)
Requirement already satisfied: platformdirs>=2.0.0 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from yfinance) (4.2.2)
Requirement already satisfied: pytz>=2022.5 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: soupsieve>1.2 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in e:\semester_vier\data_analyse\algorithmischer-handel\venv\lib\site-packages (from requests>=2.31->yfinance) (2024.6.2)

Nachdem die benötigten Bibliotheken hinzugefügt wurden müssen diese importiert werden

In [17]:
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime

Der user soll die möglichkeit bekommen selber die Aktie zu bestimmen, dennoch wird eine Validierung eingebaut die überprüft, ob die Aktie vorhanden ist oder nicht

In [3]:
stock = input("Geben Sie bitte die Aktienkürzel ein: ").upper()
stock_info =  yf.Ticker(stock).info
try:
        if 'shortName' in stock_info and stock_info['shortName']:
            print(f"Die Aktie lautet: {stock_info['shortName']}")
            print(stock_info)
        else:
            raise Exception (f"Die Aktie: {stock} ist nicht vorhanden")
except Exception as err:
        print(err)

Geben Sie bitte die Aktienkürzel ein:  AMZN

Die Aktie lautet: Amazon.com, Inc.
{'address1': '410 Terry Avenue North', 'city': 'Seattle', 'state': 'WA', 'zip': '98109-5210', 'country': 'United States', 'phone': '206 266 1000', 'website': 'https://www.aboutamazon.com', 'industry': 'Internet Retail', 'industryKey': 'internet-retail', 'industryDisp': 'Internet Retail', 'sector': 'Consumer Cyclical', 'sectorKey': 'consumer-cyclical', 'sectorDisp': 'Consumer Cyclical', 'longBusinessSummary': "Amazon.com, Inc. engages in the retail sale of consumer products, advertising, and subscriptions service through online and physical stores in North America and internationally. The company operates through three segments: North America, International, and Amazon Web Services (AWS). It also manufactures and sells electronic devices, including Kindle, Fire tablets, Fire TVs, Echo, Ring, Blink, and eero; and develops and produces media content. In addition, the company offers programs that enable sellers to sell their products in its stores; and programs that allow authors, independent publishers, musicians, filmmakers, Twitch streamers, skill and app developers, and others to publish and sell content. Further, it provides compute, storage, database, analytics, machine learning, and other services, as well as advertising services through programs, such as sponsored ads, display, and video advertising. Additionally, the company offers Amazon Prime, a membership program. The company's products offered through its stores include merchandise and content purchased for resale and products offered by third-party sellers. It serves consumers, sellers, developers, enterprises, content creators, advertisers, and employees. Amazon.com, Inc. was incorporated in 1994 and is headquartered in Seattle, Washington.", 'fullTimeEmployees': 1525000, 'companyOfficers': [{'maxAge': 1, 'name': 'Mr. Jeffrey P. Bezos', 'age': 59, 'title': 'Founder & Executive Chairman', 'yearBorn': 1964, 'fiscalYear': 2023, 'totalPay': 1681840, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Andrew R. Jassy', 'age': 55, 'title': 'President, CEO & Director', 'yearBorn': 1968, 'fiscalYear': 2023, 'totalPay': 1722764, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Brian T. Olsavsky', 'age': 59, 'title': 'Senior VP & CFO', 'yearBorn': 1964, 'fiscalYear': 2023, 'totalPay': 371600, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. David A. Zapolsky', 'age': 59, 'title': 'Senior VP of Global Public Policy & General Counsel', 'yearBorn': 1964, 'fiscalYear': 2023, 'totalPay': 371600, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Douglas J. Herrington', 'age': 56, 'title': 'Chief Executive Officer of Worldwide Amazon Stores', 'yearBorn': 1967, 'fiscalYear': 2023, 'totalPay': 394231, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Shelley L. Reynolds', 'age': 58, 'title': 'VP, Worldwide Controller & Principal Accounting Officer', 'yearBorn': 1965, 'fiscalYear': 2023, 'totalPay': 163200, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Dr. Werner  Vogels', 'title': 'Chief Technology Officer', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Dave  Fildes', 'title': 'Director of Investor Relations', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Anuradha  Aggarwal', 'title': 'CMO & Director of User Growth', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Beth  Galetti M.B.A.', 'title': 'Senior Vice President of Worldwide Human Resources', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}], 'auditRisk': 5, 'boardRisk': 10, 'compensationRisk': 10, 'shareHolderRightsRisk': 3, 'overallRisk': 9, 'governanceEpochDate': 1719792000, 'compensationAsOfEpochDate': 1703980800, 'irWebsite': 'http://phx.corporate-ir.net/phoenix.zhtml?c=97664&p=irol-irhome', 'maxAge': 86400, 'priceHint': 2, 'previousClose': 197.59, 'open': 198.52, 'dayLow': 198.18, 'dayHigh': 200.55, 'regularMarketPreviousClose': 197.59, 'regularMarketOpen': 198.52, 'regularMarketDayLow': 198.18, 'regularMarketDayHigh': 200.55, 'beta': 1.155, 'trailingPE': 55.865925, 'forwardPE': 37.664783, 'volume': 39667551, 'regularMarketVolume': 39667551, 'averageVolume': 42000090, 'averageVolume10days': 54407120, 'averageDailyVolume10Day': 54407120, 'bid': 199.95, 'ask': 200.04, 'bidSize': 100, 'askSize': 100, 'marketCap': 2081319944192, 'fiftyTwoWeekLow': 118.35, 'fiftyTwoWeekHigh': 200.55, 'priceToSalesTrailing12Months': 3.523242, 'fiftyDayAverage': 185.3622, 'twoHundredDayAverage': 162.7472, 'currency': 'USD', 'enterpriseValue': 2156811517952, 'profitMargins': 0.06379, 'floatShares': 9264083791, 'sharesOutstanding': 10406599680, 'sharesShort': 85134086, 'sharesShortPriorMonth': 70812929, 'sharesShortPreviousMonthDate': 1715731200, 'dateShortInterest': 1718323200, 'sharesPercentSharesOut': 0.0082, 'heldPercentInsiders': 0.09158, 'heldPercentInstitutions': 0.63661, 'shortRatio': 2.4, 'shortPercentOfFloat': 0.0092, 'impliedSharesOutstanding': 10406599680, 'bookValue': 20.827, 'priceToBook': 9.60292, 'lastFiscalYearEnd': 1703980800, 'nextFiscalYearEnd': 1735603200, 'mostRecentQuarter': 1711843200, 'earningsQuarterlyGrowth': 2.288, 'netIncomeToCommon': 37683998720, 'trailingEps': 3.58, 'forwardEps': 5.31, 'pegRatio': 1.68, 'lastSplitFactor': '20:1', 'lastSplitDate': 1654473600, 'enterpriseToRevenue': 3.651, 'enterpriseToEbitda': 22.325, '52WeekChange': 0.57319283, 'SandP52WeekChange': 0.26253593, 'exchange': 'NMS', 'quoteType': 'EQUITY', 'symbol': 'AMZN', 'underlyingSymbol': 'AMZN', 'shortName': 'Amazon.com, Inc.', 'longName': 'Amazon.com, Inc.', 'firstTradeDateEpochUtc': 863703000, 'timeZoneFullName': 'America/New_York', 'timeZoneShortName': 'EDT', 'uuid': '261fd26b-0151-3813-b0d0-97e4ed4c6505', 'messageBoardId': 'finmb_18749', 'gmtOffSetMilliseconds': -14400000, 'currentPrice': 200.0, 'targetHighPrice': 460.6, 'targetLowPrice': 165.82, 'targetMeanPrice': 207.46, 'targetMedianPrice': 202.66, 'recommendationMean': 1.7, 'recommendationKey': 'buy', 'numberOfAnalystOpinions': 53, 'totalCash': 85074001920, 'totalCashPerShare': 8.175, 'ebitda': 96609001472, 'totalDebt': 160560005120, 'quickRatio': 0.829, 'currentRatio': 1.072, 'totalRevenue': 590739996672, 'debtToEquity': 74.107, 'revenuePerShare': 57.133, 'returnOnAssets': 0.059510004, 'returnOnEquity': 0.20305, 'freeCashflow': 57269751808, 'operatingCashflow': 99146997760, 'earningsGrowth': 2.167, 'revenueGrowth': 0.125, 'grossMargins': 0.47594002, 'ebitdaMargins': 0.16354, 'operatingMargins': 0.106809996, 'financialCurrency': 'USD', 'trailingPegRatio': 2.1254}

Nachdem die Validation steht kann mit der Variable "stock_info" die Daten heruntergeladen werden.
Hierzu werden die Daten vom aktuellen Tag bis vor einem Jahr verwendet.

In [18]:
print("---Metadaten---")
print(stock_info['symbol'])
print(datetime.today().strftime('%Y-%m-%d'))
print((datetime.today().replace(year=datetime.today().year - 1)).strftime('%Y-%m-%d'))
try:
    stock_data = yf.download(
                    stock_info['symbol'],
                    start = (datetime.today().replace(year=datetime.today().year - 1)).strftime('%Y-%m-%d'), 
                    end=datetime.today().strftime('%Y-%m-%d'))
except Exception as err:
    print(f"Das Herunterladen der Datei war nicht erfolgreich: {err}")
print(f"--------------------------Aktiendaten von {stock_info['shortName']}--------------------------")
print(stock_data)
print(f"------------------------------------------------------------------------------------")

[*********************100%%**********************]  1 of 1 completed

---Metadaten---
AMZN
2024-07-08
2023-07-08
--------------------------Aktiendaten von Amazon.com, Inc.--------------------------
                  Open        High         Low       Close   Adj Close  \
Date
2023-07-10  129.070007  129.279999  125.919998  127.129997  127.129997
2023-07-11  127.750000  129.770004  127.349998  128.779999  128.779999
2023-07-12  130.309998  131.259995  128.830002  130.800003  130.800003
2023-07-13  134.039993  134.669998  132.710007  134.300003  134.300003
2023-07-14  134.059998  136.649994  134.059998  134.679993  134.679993
...                ...         ...         ...         ...         ...
2024-06-28  197.729996  198.850006  192.500000  193.250000  193.250000
2024-07-01  193.490005  198.300003  192.820007  197.199997  197.199997
2024-07-02  197.279999  200.429993  195.929993  200.000000  200.000000
2024-07-03  199.940002  200.029999  196.759995  197.589996  197.589996
2024-07-05  198.649994  200.550003  198.169998  200.000000  200.000000

              Volume
Date
2023-07-10  61889300
2023-07-11  49951500
2023-07-12  54022800
2023-07-13  61170900
2023-07-14  54388100
...              ...
2024-06-28  76930200
2024-07-01  41192000
2024-07-02  45600000
2024-07-03  31597900
2024-07-05  39809000

[250 rows x 6 columns]
------------------------------------------------------------------------------------

Durch die erlangten können wir festhalten das wir folgende Werte erhalten:
1. Date: Aktienwerte für den tag
2. Open: Der Eröffnungskurs der Aktie 
3. High: Der höchste Kurs der Aktie der am diesem Tag stattgefunden hast
4. Low:  Der niedrigste Kurs der Aktie der am diesem Tag stattgefunden hast
5. Adj Close: Dieser Kurs zeigt den gereinigt Schlusskurs an mit berücksichtigung auf die Dividende, Aktiensplits etc.
6. Volume: Die Anzahl der gehandelten Aktien

In [19]:
stock_data.ffill(inplace=True)

Mit dem Befehl wurde die Datei Bereinigt und passend Convertiert

In [20]:
# Relevante Merkmale auswählen
stock_data['ReturnOnCapital'] = stock_data['Close'].pct_change()
stock_data.dropna(inplace=True)
stock_data

,Open,High,Low,Close,Adj Close,Volume,ReturnOnCapital
Date,,,,,,,
2023-07-11,127.750000,129.770004,127.349998,128.779999,128.779999,49951500,0.012979
2023-07-12,130.309998,131.259995,128.830002,130.800003,130.800003,54022800,0.015686
2023-07-13,134.039993,134.669998,132.710007,134.300003,134.300003,61170900,0.026758
2023-07-14,134.059998,136.649994,134.059998,134.679993,134.679993,54388100,0.002829
2023-07-17,134.559998,135.619995,133.210007,133.559998,133.559998,48450200,-0.008316
...,...,...,...,...,...,...,...
2024-06-28,197.729996,198.850006,192.500000,193.250000,193.250000,76930200,-0.023250
2024-07-01,193.490005,198.300003,192.820007,197.199997,197.199997,41192000,0.020440
2024-07-02,197.279999,200.429993,195.929993,200.000000,200.000000,45600000,0.014199
2024-07-03,199.940002,200.029999,196.759995,197.589996,197.589996,31597900,-0.012050
2024-07-05,198.649994,200.550003,198.169998,200.000000,200.000000,39809000,0.012197

In [22]:
# Beispiel-Daten
stock_data = pd.DataFrame({
    'Date': pd.date_range(start='2023-07-01', periods=60, freq='D'),
    'Close': np.random.randint(100, 200, size=60)  # Zufällige Schlusskurse
})

# Berechnung der gleitenden Durchschnitte
stock_data['SMA_20'] = stock_data['Close'].rolling(window=20).mean()
stock_data['SMA_50'] = stock_data['Close'].rolling(window=50).mean()
stock_data.head(30)

         Date  Close  SMA_20  SMA_50
0  2023-07-01    106     NaN     NaN
1  2023-07-02    105     NaN     NaN
2  2023-07-03    143     NaN     NaN
3  2023-07-04    176     NaN     NaN
4  2023-07-05    171     NaN     NaN
5  2023-07-06    176     NaN     NaN
6  2023-07-07    135     NaN     NaN
7  2023-07-08    167     NaN     NaN
8  2023-07-09    182     NaN     NaN
9  2023-07-10    139     NaN     NaN
10 2023-07-11    111     NaN     NaN
11 2023-07-12    128     NaN     NaN
12 2023-07-13    147     NaN     NaN
13 2023-07-14    198     NaN     NaN
14 2023-07-15    165     NaN     NaN
15 2023-07-16    138     NaN     NaN
16 2023-07-17    177     NaN     NaN
17 2023-07-18    116     NaN     NaN
18 2023-07-19    187     NaN     NaN
19 2023-07-20    132  149.95     NaN
20 2023-07-21    174  153.35     NaN
21 2023-07-22    142  155.20     NaN
22 2023-07-23    137  154.90     NaN
23 2023-07-24    172  154.70     NaN
24 2023-07-25    126  152.45     NaN
25 2023-07-26    138  150.55     NaN
26 2023-07-27    139  150.75     NaN
27 2023-07-28    149  149.85     NaN
28 2023-07-29    138  147.65     NaN
29 2023-07-30    197  150.55     NaN